.App {
  text-align: center;
  margin: 15px;
}

.App .form{
  width: 50%;
  border-radius: 4px;
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
}
button {
  padding: 8px 14px;
  font-weight: bolder;
  background: none;
  border: 0;
  font-size: 30px;
  float: left;
}
.App .form input{
  font: inherit;
  color: currentColor;
  width: 80%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  float: left;
  border:1px solid rgba(0, 0, 0, 0.87);
  padding: 18.5px 14px;
}


.App table {
  border: 1px solid rgb(204, 204, 204);
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 16px;
  background-color: rgb(226, 226, 226);
  padding: 8px;
}

.App table tbody{
  border: 1px solid rgb(204, 204, 204);
    padding: 8px 16px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    border-radius: 40px;
    margin-bottom: 8px;
    background-color: rgb(255, 255, 255);
}

.MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.css-i5eb52 {
  width: 95%;
  border: 1px solid rgb(204, 204, 204);
  margin: 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 16px;
  background-color: rgb(226, 226, 226);
}

.css-iuwsba{
  padding: 8px;
}
.css-1ni2y1i {
  border: 1px solid rgb(204, 204, 204);
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 40px;
  margin-bottom: 8px;
  background-color: rgb(255, 255, 255);
}

.MuiGrid-grid-xs-8 {
  flex-grow: 0;
  max-width: 66.666667%;
  flex-basis: 66.666667%;
}
.MuiGrid-item {
  margin: 0;
  box-sizing: border-box;
}
.MuiGrid-grid-xs-4 {
  flex-grow: 0;
  max-width: 33.333333%;
  flex-basis: 33.333333%;
}
.MuiGrid-justify-xs-flex-end {
  justify-content: flex-end;
}
.MuiGrid-align-items-xs-center {
  align-items: center;
}
.MuiGrid-justify-xs-center {
  justify-content: center;
  width: 100%;
}
.MuiGrid-grid-xs-2 {
  width:20%;
  float: left;
}
.MuiGrid-grid-xs-10 {
 width: 80%;
 float: right;
}
.css-1k3vcrl {
  color: black;
  margin: 4px;
}
.MuiGrid-item button {
  padding: 6px 8px;
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}
.MuiButtonBase-root {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
button.isActive{
  color: blue;
}